<?xml version="1.0" encoding="UTF-8"?>
<configuration status="trace" monitorInterval="300">
    <Appenders>
        <Console name="PConsole" target="SYSTEM_OUT">
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${logpattern}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="all">
            <AppenderRef ref="PConsole"/>
        </Root>
    </Loggers> 
</configuration>
